<div class="d-flex justify-content-center align-item-center">
  
    <%= form_with  id:"my-form", model: @department, url: @action == 'edit' ? department_path : departments_path, method: @action == 'edit' ? :PATCH : :POST do |form| %>
      <%= form.label :name,  "Department Name:" %><br>
      <%= form.text_field :name, class:'form-control input'%><br>
      <input id="submitbtn" type="button" value="Add" name= 'Add' ></input>  
    <% end %>

</div>

<script type="text/javascript">
  var regTitle = /^[a-zA-Z0-9\s]{5,}$/
  var inputArray = document.querySelector(".input");
  var form  =document.getElementById("my-form");
  var submitBtn = document.querySelector("#submitbtn");
  submitBtn.addEventListener("click", validation);
  function validation(e) {
          if (!regTitle.test(inputArray.value) && inputArray.value != "") {
             alert("Enter Department Name of word more than 5 And of correct Format ")
          } else if (inputArray.value == "") {
             alert("Enter Department Name")
          }else{
          	form.submit()
          }        
    }
</script>