<h1>DevoHack</h1>


<!-- <input type="button", value="Check Out", id = "checkout"> -->

<% if current_employee.appearance == "Present" %>
 <%= link_to "Check Out", checkout_path(current_employee.id), class:"btn btn-info" %>
<% elsif current_employee.appearance == "Checkout" %>
 <%= link_to "Check In", checkin_path(current_employee.id), class:"btn btn-info" %>
<% end %>	

